/* /Pages/Index.razor.rz.scp.css */
.card-header[b-4ajqixu5s8] {
    position: relative;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: black;
    color: white;
}

.card-body[b-4ajqixu5s8] {
    padding: 20px;
}
/* /Shared/Collapsible.razor.rz.scp.css */
.card-header[b-r45j3d9lxl]{
    background-color: black;
    color: white;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-esy7gb961q] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-esy7gb961q] {
    flex: 1;
    background-color: floralwhite;
}

.top-row[b-esy7gb961q] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-esy7gb961q]  a, .top-row[b-esy7gb961q]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-esy7gb961q]  a:hover, .top-row[b-esy7gb961q]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-esy7gb961q]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-esy7gb961q] {
        display: none;
    }

    .top-row.auth[b-esy7gb961q] {
        justify-content: space-between;
    }

    .top-row[b-esy7gb961q]  a, .top-row[b-esy7gb961q]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-esy7gb961q] {
        flex-direction: row;
    }

    .sidebar[b-esy7gb961q] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-esy7gb961q] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-esy7gb961q]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-esy7gb961q], article[b-esy7gb961q] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.banner[b-chc3m48ggo] {
    text-align: center;
    padding: 50px;
    color: white;
}

.navbar[b-chc3m48ggo] {
    position: relative;
    background: rgb(129,129,255);
    background: linear-gradient(90deg, rgba(129,129,255,1) 0%, rgba(207,110,255,1) 49%, rgba(254,228,255,1) 100%);
    z-index: 1;
}
.icon-wrapper[b-chc3m48ggo] {
    height: 60px; /* Adjust based on your image and desired final size */
    width: 60px; /* Equal to height for a perfect circle */
    overflow: hidden; /* Ensures the image does not exceed the circular boundary */
}

/* Adjustments for the home icon */
.nav-link.position-relative[b-chc3m48ggo] {
    padding: 0; /* Remove padding to make circle occupy entire space */
}

.circle-border[b-chc3m48ggo] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 6px solid #aae8ff;
    z-index: 1;
    background-color: rebeccapurple;
    overflow: hidden;
}

.icon-wrapper[b-chc3m48ggo] {
    height: 100%; /* Take full height of parent circle */
    width: 100%; /* Take full width of parent circle */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Ensure image doesn't overflow */
}

.img-fluid[b-chc3m48ggo] {
    max-width: 80%; /* Ensure image doesn't overflow */
    height: auto;
}
