.card-header {
    position: relative;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: black;
    color: white;
}

.card-body {
    padding: 20px;
}
