@page "/"

<PageTitle>Home</PageTitle>

<Collapsible Header="About Me" Content="lorem ispum" />
<Collapsible Header="Skill" Content="lorem ispum 2" >
    <div>
        <h3>Another Heading</h3>
        <ul>
        <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>
    </div>
</Collapsible>
<Collapsible Header="Experience" Content="add timeline here" />
@code {
    
}