@page "/unity"
@using Microsoft.JSInterop

<div>
    <div class="row">
        <div class="col-md-12">
            <strong>Version:</strong> 1.1.0
        </div>
        <div class="col-md-12">
            <strong>How to play:</strong> Press Right Mouse to [ause/unpaused and Left Mouse on empty space to move
        </div>
    </div>
    
    <div class="row align-content-center mt-2">
        <iframe src="unity-fishingfacts/index.html" style="width:1000px;height:640px;"></iframe>
    </div>
</div>

@code {
}