@using MudBlazor
@inherits LayoutComponentBase

<PageTitle>Linfo</PageTitle>

<NavMenu />

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<main class="container p-5 border-top-0 rounded-bottom">
    @Body
</main>
