<div class="banner">
    <h1>Banner area</h1>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid position-relative">
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav d-flex w-100 justify-content-around">
                <NavLink class="nav-link fw-bold" href="blog">Blog</NavLink>
                <NavLink class="nav-link fw-bold" href="unity">Unity</NavLink>
                 <NavLink class="nav-link position-relative" href="" Match="NavLinkMatch.All">
                    <div class="circle-border">
                        <div class="icon-wrapper">
                            <img src="https://static-00.iconduck.com/assets.00/avatar-default-symbolic-icon-479x512-n8sg74wg.png" alt="Your Image" class="img-fluid rounded-circle">
                        </div>
                    </div>
                </NavLink>
                <NavLink class="nav-link fw-bold" href="counter">Counter</NavLink>
                <NavLink class="nav-link fw-bold" href="fetchdata">Fetch Data</NavLink>
            </div>
        </div>
    </div>
</nav>


@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
